{
    "singleQuote": true,
    "printWidth": 600000,
    "plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false,
    "tailwindConfig": "./tailwind.config.js",
    "tabWidth": 4,
    "semi": true,
    "proseWrap": "always",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "html"
            }
        }
    ]
}
