.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.alignleft {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}

.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1, .h1 {
	/*basic heading styles*/
	font-size: 2rem;
}

h2, .h2 {
	/*basic heading styles*/
	font-size: 1.8rem
}

h3, .h3 {
	/*basic heading styles*/
	font-size: 1.6rem
}

h4, .h4 {
	/*basic heading styles*/
	font-size: 1.4rem
}

h5, .h5 {
	/*basic heading styles*/
	font-size: 1.2rem
}

h6, .h6 {
	/*basic heading styles*/
	font-size: 1rem
}

small, .small {
	font-size: 80%;
}